.loremIpsumDolor,
.teamSection {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.loremIpsumDolor {
  font-size: var(--font-size-base);
  line-height: 150%;
}
.titleSection {
  width: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.imageIcon {
  align-self: stretch;
  max-height: 100%;
  width: 270px;
  object-fit: cover;
}
.imageWrapper {
  width: 270px;
  height: 270px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fullName,
.jobTitle {
  position: relative;
  line-height: 150%;
}
.fullName {
  align-self: stretch;
}
.jobTitle {
  font-size: var(--font-size-lg);
}
.info,
.jobTitle {
  align-self: stretch;
}
.card,
.content,
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  gap: var(--gap-base);
}
.card {
  flex: 1;
  gap: var(--gap-5xl);
}
.columns {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 48px;
  font-size: var(--font-size-xl);
}
.container,
.teamCircles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container {
  width: 1200px;
  gap: var(--gap-45xl);
}
.teamCircles {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  padding: var(--padding-45xl) 24px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
